.ancora-bloco:hover {
    text-decoration: unset;
}

.span-bloco {
    font-size: 15px;
    white-space: normal;
    border-radius: 50px;
    height: auto;
    font-weight: 800;
    margin-top: 40px;
    min-height: 60px;
    width: 100%;
    background-color: #02243b;
    border-color: #011a2c;
    color: white;
    text-align: center;
    padding: .375rem 0.55rem;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
}

.div-bloco {
    margin-bottom: 30px;
    font-size: 27px;
    min-height: 250px;
    white-space: normal;
    border-radius: 5px;
    padding: 36px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #b6b6b6;
    border: solid 1px #cbcbcb;
    color: #02243b;
}

.div-bloco:hover{
    background-color: #e2e2e2;
    color: #db522c;
}

.div-bloco:hover  .span-bloco{
    background-color: #db522c;
}


.div-bloco>i {
    font-size: 70px;
}

.div-principal {
    min-height: 58vh;
}


@media (max-width: 767px) {
    .bloco-dashboard {
        justify-content: center;
    }

}