<div class="row">
	<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
		<div class="div-bloco">
			<i class="fas fa-user-tie"></i>
			<button id="btn_microempreendedor" class="btn btn-blue button-bloco">Torne-se um microempreendedor individual</button>
		</div>
	</div>
	<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
		<div class="div-bloco">
			<i class="fas fa-pencil-alt"></i>
			<button id="btn_logotipo" class="btn btn-blue button-bloco">Crie o logotipo da sua empresa aqui</button>
		</div>
	</div>
	<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
		<div class="div-bloco">
			<i class="fas fa-scroll"></i>
			<button id="btn_certificado" class="btn btn-blue button-bloco">Acesse seu certificado digital</button>
		</div>
	</div>
	<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
		<div class="div-bloco">
			<i class="fas fa-address-card"></i>
			<button id="btn_material" class="btn btn-blue button-bloco">Material de divulgação da sua empresa</button>
		</div>
	</div>
</div>
