<div class="row">
	<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <a class="ancora-bloco" href="{{ base_url('microempreendedor') }}">
            <div class="div-bloco">
                <i class="fas fa-user-tie"></i>
                <span class="span-bloco">Torne-se um microempreendedor individual</span>
            </div>
        </a>
	</div>
	<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <a class="ancora-bloco" href="{{ base_url('materialDivulgacao') }}">
            <div class="div-bloco">
                <i class="fas fa-pencil-alt"></i>
                <span class="span-bloco">Material de divulgação da sua empresa</span>
            </div>
        </a>
	</div>
	<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <a class="ancora-bloco" href="{{ base_url('certificados') }}">
            <div class="div-bloco">
                <i class="fas fa-scroll"></i>
                <span class="span-bloco">Acesse seus certificados</span>
            </div>
        </a>
	</div>
	<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <a class="ancora-bloco" href="{{ base_url('cursos') }}">
            <div class="div-bloco">
                <i class="fas fa-address-card"></i>
                <span class="span-bloco">Cursos</span>
            </div>
        </a>
	</div>
</div>
