<div class="perfil-usuario">
	<h1 style="color: #db522c;">Meu perfil</h1>
	<span>Nome:
		<strong id="nome_usuario">-</strong>
	</span>
	<span>Contato:
		<strong id="contato_usuario">-</strong>
	</span>
	<span>Inscrição:
		<strong id="inscricao_usuario">-</strong>
	</span>
</div>

<div class="bloco-cursos">
	<div class="div-cursos">
		<i class="fas fa-graduation-cap"></i>
		<span>
			<strong>10</strong>
		</span>
		<span class="span-cursos">Cursos concluídos</span>
	</div>
	<div class="div-cursos">
		<i class="fas fa-graduation-cap"></i>
		<span>
			<strong>1</strong>
		</span>
		<span class="span-cursos">Cursos em andamento</span>
	</div>
</div>
